# Secrets (CRITICAL)
**/serviceAccountKey.json
**/google-services.json
local.properties
.env

# Build folders (The heavy stuff)
**/build/
.gradle/
**/out/
bin/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath

# Gradle Wrappers
!**/gradle/wrapper/gradle-wrapper.jar